:host{
    display: inline-block;
    width: 100%;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
  max-width: 42rem;
  width: 100%;
  height: fit-content;
  
}


/* Label */
.input-group label {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--secondary);
  font-family: 'Playfair Display', serif;
  
}


/* Input */
.input-group input {
  padding: 1.4rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: 2px solid var(--border-light);
  background-color: var(--white);
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  outline: none;
  
  transition: 
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

/* Placeholder */
.input-group input::placeholder {
  color: var(--text-muted);
}

/* Focus State */
.input-group input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 4px var(--bg-section);
  transform: translateY(-2px);
}

/* Error Message */
.input-group .error {
  font-size: 1.2rem;
  color:  var(--soft-red); /* soft red */
  background: transparent;
 /* background: var(--bg-section);*/
  padding: 0rem 1rem;
  border-radius: 4px;
}
input::placeholder{
  text-transform: capitalize;
}




.input-group label::first-letter{
text-transform: capitalize;
}
.input-group label:not(::first-letter){
  text-transform: lowercase;
}


input::placeholder{
  text-transform: lowercase;
}